<div class="container"> <div>
     <div class="w-25 mx-auto text-center mb-3">
    <p>Filter By number </p>
    <input type="text" placeholder="Search by Num"  class="form-control" [(ngModel)]="filterlist">
    <p>filter reasult {{filterlist}}</p>
  </div>
<app-product (eventSendItem)="recieveProduct($event)"
(eventSendQuantity)="recieveQuantity($event)"   [filterInChild2]="filterlist"></app-product>
</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">Quantity</th>
      <th scope="col">total</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of newProduct">
      <th scope="col"> {{item.Name}} </th>
      <th scope="col">{{item.price}}</th>
      <!-- <th scope="col"> item.price</th> -->
      <th scope="col">{{ quantityNumber(item)}}</th>
      <th scope="col">{{ quantityNumber(item) * item.price}} </th>
      <!-- <th scope="col"> -->
        <!--         <div class="btn btn-danger" (click)="remove(item)">delete</div> -->
      <!-- </th> -->
    </tr>
  </tbody>
</table>
